<h1>Texts</h1>
<table class="table table-striped">
	<tr>
	<th>To</th>
	<th>Message Text</th>
	<th>Sent At</th>
	</tr>

	<% @sms_messages.each do |s| %>
	<tr>
	<td><%= number_to_phone(s.to, area_code: true)%> </td> 
	<td><%= s.body %> </td>
	<td><%= s.created_at.to_formatted_s(:long) %></td>
	</tr>
	<% end %>
</table>

 <%= link_to 'New message', new_sms_message_path %>