<%= render partial: 'layouts/nav' %>

<div id = "startchat">
</div>

<div id = "appexplanationtitle">
	Getting started
</div>

<div id = "appexplanation">
	1) Sign up for a <a href="http://www.twilio.com">Twilio</a> number.
	<br />
	2) Put your Twilio information into your user <a href="http://localhost:3000/user">settings</a>.
	<br />
	3) Schedule a message now!
</div>

<a href="<%= new_sms_message_path %>" class="btn btn-default btn-lg" id="sendsmsbutton">Create Message <span class="glyphicon glyphicon-comment"></span></a>