<body class="background">
	<div id="top-div">
	</div>

	<div id="bottom-div">
	</div>

	<div id="iphone">
	</div>

	<div id="title">
		Escrow
	</div>

	<div id="description">
		Schedule a text. Whenever you want. To be sent at whatever time you want. It just makes sense.
	</div>

	<a href="<%= new_user_path %>" class="btn btn-default btn-lg" id="signupbutton">Sign Up <span class="glyphicon glyphicon-ok"></span></a>

	<a href="<%= new_auth_path %>" class="btn btn-default btn-lg" id="loginbutton">Log In <span class="glyphicon glyphicon-ok"></span></a>
</body>









