<center><h1> ($) Contacts (/$) </h1></center>

<body>
	
	<table class="table table-hover">
  		<thead>
    			<tr>
      				<th>Name</th>
      				<th>Phone Number</th>
    			</tr>
  		</thead>

  		<tbody>
    		<% @contacts.each do |c| %>
      			<tr>
        			<td><%= c.name %></td>
        			<td><%= c.phonenumber %></td>
              <td><%= link_to 'Show', c %></td>
              <!-- <td><%#= link_to 'Edit', edit_c_path(c) %></td> -->
              <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      			</tr>
    	<% end %>
  		</tbody>
	</table>



