/*// Place all the styles related to the proactivesms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lobster);

@media only screen and (min-width : 569px) {

/* For the navbar. */

.navbar-collapse {
	background-color: #437DD4;
}

#navcontainer {
	background-color: #437DD4;
}

nav {
	position: absolute;
	z-index: 1300;
}

#navbartitle {
	font-family: 'Lobster', cursive;
	color: white;
	text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 2px black;
}

/* For the launch page */

#stripe {
	height: 275px;
	width: 100%;
	background-color: #437DD4;
	margin: 175px 0;
}

#stripe > div {
  position: relative;
  display: inline-block;
}

#iphone {
  width: 400px;
  height: 600px;
  top: -100px;
  left: 50px;
  background-size: cover;
  background-image: url('iphone.png');
}

#launchcontainer {
  height: 100%;
  width: 500px;
  left: 200px;
  top: -200px;
}

#launchcontainer > div, a {
  position: relative;
}

#title {
	height: 200px;
  width: 500px;
	font-family: 'Lobster', cursive;
	font-size: 160px;
  top: -75px;
}

#description {
	height: 300px;
  width: 500px;
	font-family: 'Lobster', cursive;
	font-size: 35px;
	color: white;
	text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 2px black;
  top: -20px;
}

#signupbutton {
  font-family: 'Lobster', cursive;
  border: 2px solid black;
  left: 75px;
  top: -50px;
}

#loginbutton {
  font-family: 'Lobster', cursive;
  border: 2px solid black;
  left: 110px;
  top: -50px;
}

/* For the index page */

#startchat {
	width: 450px;
	height: 450px;
	background-size: cover;
	background-image: url('iphonetext.png');
	position: absolute;
	z-index: 1000;
	left: 750px;
  bottom: 60px;
}

#appexplanationtitle {
	width: 500px;
	height: 100px;
	font-family: 'Lobster', cursive;
	font-size: 80px;
	position: absolute;
	z-index: 900;
	left: 170px;
	bottom: 400px;
}

#appexplanation {
	width: 500px;
	height: 300px;
	font-family: 'Lobster', cursive;
	font-size: 35px;
	position: absolute;
	z-index: 800;
	right: 600px;
	bottom: 60px;
}

#sendsmsbutton {
	position: absolute;
	z-index: 1100;
	left: 300px;
	bottom: 70px;
	border: 2px solid black;
	font-family: 'Lobster', cursive;
}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {

/* For the navbar */

#navcontainer {
	background-color: #437DD4;
	height: 75px;
}


nav {
	position: absolute;
	z-index: 1300;
	width: 350px;
	height: 50px;
	display: inline-block;
}

#navbartitle {
	font-family: 'Lobster', cursive;
	color: white;
	text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 2px black;
	position: absolute;
	z-index: 1400;
	bottom: 7px;
	left: 85px;
}

#dropdownnav {
	position: absolute;
	z-index: 1400;
	bottom: -24.5px;
	left: 235px;
}

.nav navbar-nav
{
	display: inline-block;
}

/* For the Launch Page */

#signupbutton {
	position: absolute;
	z-index: 700;
	font-family: 'Lobster', cursive;
	border: 2px solid black;
	bottom: 50px;
	left: 40px;
}

#loginbutton {
	position: absolute;
	z-index: 700;
	font-family: 'Lobster', cursive;
	border: 2px solid black;
	bottom: 50px;
	left: 180px;
}

.background {
	background-color: #437DD4;
}

#iphone {
	width: 300px;
	height: 400px;
  background-size: cover;
  background-image: url('iphone.png');
  position: absolute;
  z-index: 1000;
  bottom: 50px;
  left: -20px;
}

#title {
	width: 100px;
	height: 50px;
	font-family: 'Lobster', cursive;
	font-size: 80px;
	position: absolute;
	z-index: 900;
	left: 50px;
	color: white;
	text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 2px black;
}

#description {
	width: 0px;
	height: 0px;
	position: absolute;
	left: -500px;
}

/* For the index page */

#appexplanationtitle {
	width: 300px;
	height: 50px;
	font-family: 'Lobster', cursive;
	font-size: 45px;
	position: absolute;
	z-index: 900;
	left: 30px;
	bottom: 430px;
}

#appexplanation {
	width: 250px;
	height: 300px;
	font-family: 'Lobster', cursive;
	font-size: 25px;
	position: absolute;
	z-index: 800;
	bottom: 90px;
	left: 50px;
}

#sendsmsbutton {
	position: absolute;
	z-index: 1100;
	border: 2px solid black;
	font-family: 'Lobster', cursive;
	bottom: 50px;
	left: 75px;
}
}

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lobster);

@media only screen and (min-width:481px) {

/* For New user/edit user page */

#newusercontainer {
  height: 600px;
  width: 193px;
  position: fixed;
  z-index: 1000;
  left: 900px;
  bottom: -170px;
}

#newusertitle {
  height: 100px;
  width: 500px;
  position: absolute;
  z-index: 900;
  left: 600px;
  font-family: 'Lobster', cursive;
}

#newusericon {
  height: 500px;
  width: 600px;
  position: absolute;
  z-index: 800;
  left: 175px;
  bottom: 20px;
  background-image: url('newuser.png');
}

#submitbutton {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 600;
  left: 62px;
  font-family: 'Lobster', cursive;
}

.btn {
  border: solid 2px black;
}

.field {
  border: solid 2px black;
  width: 158px;
}

/* For user login page */

#userlogincontainer {
  height: 600px;
  width: 193px;
  position: absolute;
  z-index: 1000;
  left: 350px;
  bottom: -270px;
}

#logintitle {
  height: 100px;
  width: 500px;
  position: absolute;
  z-index: 800;
  left: 550px;
  font-family: 'Lobster', cursive;
}

#loginicon {
  height: 500px;
  width: 500px;
  position: absolute;
  z-index: 900;
  left: 550px;
  bottom: 0px;
  background-image: url('loginkey.png');
  background-size: cover;
}

#submitloginbutton {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 600;
  left: 60px;
  font-family: 'Lobster', cursive;
}

/* For User index page. */

#userindextitle {
  height: 100px;
  width: 500px;
  position: absolute;
  z-index: 900;
  left: 600px;
  font-family: 'Lobster', cursive;
}

#userlistcontainer {
  height: 100%;
  width: 800px;
  position: absolute;
  z-index: 1000;
  left: 260px;
  bottom: -200px;
}

#usertablelabels {
  font-family: 'Lobster', cursive;
}

/* For Contact index page */

#contactindextitle {
  height: 100px;
  width: 500px;
  position: absolute;
  z-index: 900;
  left: 600px;
  font-family: 'Lobster', cursive;
}

#contactlistcontainer {
  height: 100%;
  width: 800px;
  position: absolute;
  z-index: 1000;
  left: 260px;
  bottom: -200px;
}

#createcontactbutton {
  position: absolute;
  z-index: 1100;
  left: 700px;
  bottom: 360px;
  border: 2px solid black;
  font-family: 'Lobster', cursive;
}

#contacttablelabels {
  font-family: 'Lobster', cursive;
}

/* For New/Edit Contact page */

#newcontactcontainer {
  height: 600px;
  width: 193px;
  position: absolute;
  z-index: 1000;
  left: 950px;
  bottom: -285px;
}

#newcontacttitle {
  height: 100px;
  width: 500px;
  position: absolute;
  z-index: 900;
  left: 565px;
  font-family: 'Lobster', cursive;
}

#newcontacticon {
  height: 500px;
  width: 800px;
  position: absolute;
  z-index: 800;
  left: 140px;
  bottom: 100px;
  background-image: url('addcontact.png');
}

#submitcontactbutton {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 600;
  left: 42px;
  font-family: 'Lobster', cursive;
}

/* This is for the Contact Show Page */

#showcontactcontainer {
  height: 600px;
  width: 193px;
  position: absolute;
  z-index: 1000;
  left: 300px;
  bottom: -140px;
}

#newcontactshowicon {
  height: 450px;
  width: 450px;
  position: absolute;
  z-index: 800;
  left: 550px;
  bottom: 30px;
  background-size: cover;
  background-image: url('showuser.png');
}

#showcontactname {
  font-family: 'Lobster', cursive;
}

.showcontactfont {
  font-family: 'Lobster', cursive;
}

/* This is for the Message Index Page */

#messageindextitle {
  height: 100px;
  width: 500px;
  position: absolute;
  z-index: 900;
  left: 530px;
  font-family: 'Lobster', cursive;
}

#messagelistcontainer {
  height: 100%;
  width: 800px;
  position: absolute;
  z-index: 1000;
  left: 250px;
  bottom: -200px;
}

#messagetablelabels {
  font-family: 'Lobster', cursive;
}

#createmessagebutton {
  position: absolute;
  z-index: 1100;
  left: 700px;
  bottom: 360px;
  border: 2px solid black;
  font-family: 'Lobster', cursive;
}

/* This is for the Message Show Page */

#showmessagecontainer {
  height: 600px;
  width: 193px;
  position: absolute;
  z-index: 1000;
  left: 300px;
  bottom: -100px;
}

#newmessageshowicon {
  height: 450px;
  width: 450px;
  position: absolute;
  z-index: 800;
  left: 550px;
  bottom: 20px;
  background-size: cover;
  background-image: url('showmessage.png');
}

#showmessagename {
  font-family: 'Lobster', cursive;
}

.showmessagefont {
  font-family: 'Lobster', cursive;
}

/* This is for the New Message Page */

#newmessagetitle {
  height: 100px;
  width: 500px;
  position: absolute;
  z-index: 900;
  left: 550px;
  font-family: 'Lobster', cursive;
}

#newmessageicon {
  height: 375px;
  width: 375px;
  position: absolute;
  z-index: 800;
  left: 340px;
  bottom: 50px;
  background-image: url('sendtexticon.png');
  background-size: cover;
}

#newmessagecontainer {
  height: 500px;
  width: 193px;
  position: absolute;
  z-index: 1000;
  left: 760px;
  bottom: -150px;
}

#sendmessagebutton {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 600;
  left: 30px;
  bottom: 180px;
  font-family: 'Lobster', cursive;
}

#messagetime {
  height: 100px;
  width: 193px;
  position: absolute;
  z-index: 700;
  left: 15px;
}

#createmessagebutton {
  position: absolute;
  z-index: 1100;
  left: 700px;
  bottom: 360px;
  border: 2px solid black;
  font-family: 'Lobster', cursive;
}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
  /* For New user/edit user page */

#newusercontainer {
  height: 600px;
  width: 193px;
  position: absolute;
  z-index: 1000;
  bottom: -200px;
  left: 60px;
}

#newusertitle {
  height: 100px;
  width: 350px;
  position: absolute;
  z-index: 900;
  font-family: 'Lobster', cursive;
  left: 90px;
  bottom: 360px;
}

#submitbutton {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 600;
  left: 60px;
  font-family: 'Lobster', cursive;
}

.btn {
  border: solid 2px black;
}

/* For user login page */

#userlogincontainer {
  height: 600px;
  width: 193px;
  position: absolute;
  z-index: 1000;
  left: 300px;
  bottom: -270px;
}

#logintitle {
  height: 100px;
  width: 500px;
  position: absolute;
  z-index: 800;
  left: 550px;
  font-family: 'Lobster', cursive;
}

#loginicon {
  height: 500px;
  width: 500px;
  position: absolute;
  z-index: 900;
  left: 550px;
  bottom: 0px;
  background-image: url('loginkey.png');
  background-size: cover;
}

#submitloginbutton {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 600;
  left: 60px;
  font-family: 'Lobster', cursive;
}

/* For User index page */

thead {
  width: 350px;
  font-size: 7px;
}

tbody {
  width: 350px;
  font-size: 7px;
}

#userbutton {
  font-size: 7px;
}

#userindextitle {
  height: 100%;
  width: 350px;
  position: absolute;
  z-index: 900;
  font-family: 'Lobster', cursive;
  left: 120px;
}

#userlistcontainer {
  height: 100%;
  width: 100px;
  position: absolute;
  z-index: 1000;
  left: 10px;
  bottom: -150px;
}

#usertablelabels {
  font-family: 'Lobster', cursive;
}

/* For Contact index page */

#contactindextitle {
  height: 100%;
  width: 350px;
  position: absolute;
  z-index: 900;
  left: 100px;
  bottom: -120px;
  font-family: 'Lobster', cursive;
}

#contactlistcontainer {
  height: 300px;
  width: 100px;
  position: absolute;
  z-index: 1000;
  left: 30px;
  bottom: 100px;
}

#createcontactbutton {
  position: absolute;
  z-index: 1100;
  left: 0px;
  bottom: -30px;
  left: 10px;
  border: 2px solid black;
  font-family: 'Lobster', cursive;
}

#contacttablelabels {
  font-family: 'Lobster', cursive;
}

/* For New/Edit Contact page */

#newcontactcontainer {
  height: 600px;
  width: 193px;
  position: absolute;
  z-index: 1000;
  bottom: -275px;
  left: 70px;
}

#newcontacttitle {
  height: 100px;
  width: 200px;
  position: absolute;
  z-index: 900;
  font-family: 'Lobster', cursive;
  bottom: 350px;
  left: 70px;
}

#submitcontactbutton {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 600;
  left: 70px;
  font-family: 'Lobster', cursive;
}

/* This is for the Contact Show Page */

#showcontactcontainer {
  height: 600px;
  width: 193px;
  position: absolute;
  z-index: 1000;
  left: 105px;
  bottom: -160px;
}

#showcontactname {
  font-family: 'Lobster', cursive;
}

.showcontactfont {
  font-family: 'Lobster', cursive;
}

/* This is for the Message Index Page */

#messageindextitle {
  height: 100px;
  width: 350px;
  position: absolute;
  z-index: 900;
  font-family: 'Lobster', cursive;
  left: 15px;
  bottom: 360px;
}

#messagelistcontainer {
  height: 300px;
  width: 100px;
  position: absolute;
  z-index: 1000;
  bottom: 110px;
  left: 10px;
}

#messagetablelabels {
  font-family: 'Lobster', cursive;
}

#createmessagebutton {
  position: absolute;
  z-index: 1100;
  border: 2px solid black;
  font-family: 'Lobster', cursive;
  position: absolute;
  bottom: -25px;
}

/* This is for the Message Show Page */

#showmessagecontainer {
  height: 600px;
  width: 193px;
  position: absolute;
  z-index: 1000;
  left: 75px;
  bottom: -125px;
}

#showmessagename {
  font-family: 'Lobster', cursive;
}

.showmessagefont {
  font-family: 'Lobster', cursive;
}

/* This is for the New Message Page */

#newmessagetitle {
  height: 100px;
  width: 300px;
  position: absolute;
  z-index: 900;
  font-family: 'Lobster', cursive;
  left: 70px;
  bottom: 350px;
}

#newmessagecontainer {
  height: 500px;
  width: 193px;
  position: absolute;
  z-index: 1000;
  left: 63px;
  bottom: -120px;
}

#sendmessagebutton {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 600;
  left: 30px;
  bottom: 180px;
  font-family: 'Lobster', cursive;
}

#messagetime {
  height: 100px;
  width: 193px;
  position: absolute;
  z-index: 700;
  left: 15px;
}
}

