/*// Place all the styles related to the proactivesms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lobster);

/* For the navbar */

.navbar-collapse {
	background-color: #437DD4;
}

#navcontainer {
	background-color: #437DD4;
}

nav {
	position: absolute;
	z-index: 1300;
}

#navbartitle {
	font-family: 'Lobster', cursive;
	color: white;
	text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 2px black;
}

/* For the launch page */

#signupbutton {
	position: absolute;
	z-index: 700;
	left: 625px;
	bottom: 50px;
	font-family: 'Lobster', cursive;
	border: 2px solid black;
}

#loginbutton {
	position: absolute;
	z-index: 700;
	left: 825px;
	bottom: 50px;
	font-family: 'Lobster', cursive;
	border: 2px solid black;
}

.background {
	background-color: white;
}

#top-div {
	height: 275px;
	width: 100%;
	background-color: white;
	margin-bottom: -125px;
}

#bottom-div {
	height: 275px;
	width: 100%;
	background-color: #437DD4;
	margin-bottom: -125px;
}

#iphone {
	width: 400px;
	height: 600px;
  background-size: cover;
  background-image: url('iphone.png');
  position: absolute;
  z-index: 1000;
  bottom: -75px;
}

#title {
	width: 500px;
	height: 200px;
	font-family: 'Lobster', cursive;
	font-size: 160px;
	position: absolute;
	z-index: 900;
	left: 550px;
	bottom: 415px;
}

#description {
	width: 500px;
	height: 300px;
	font-family: 'Lobster', cursive;
	font-size: 35px;
	position: absolute;
	z-index: 800;
	left: 550px;
	bottom: 65px;
	color: white;
	text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 2px black;
}

/* For the index page */

#startchat {
	width: 450px;
	height: 450px;
	background-size: cover;
	background-image: url('iphonetext.png');
	position: absolute;
	z-index: 1000;
	left: 650px;
}

#appexplanationtitle {
	width: 500px;
	height: 100px;
	font-family: 'Lobster', cursive;
	font-size: 80px;
	position: absolute;
	z-index: 900;
	left: 100px;
	bottom: 375px;
}

#appexplanation {
	width: 500px;
	height: 300px;
	font-family: 'Lobster', cursive;
	font-size: 35px;
	position: absolute;
	z-index: 800;
	right: 550px;
	bottom: 30px;
}

#sendsmsbutton {
	position: absolute;
	z-index: 1100;
	left: 240px;
	bottom: 50px;
	border: 2px solid black;
	font-family: 'Lobster', cursive;
}

