@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lobster);

/* For New user/edit user page */

#newusercontainer {
  height: 600px;
  width: 193px;
  position: absolute;
  z-index: 1000;
  left: 750px;
  bottom: -215px;
}

#newusertitle {
  height: 100px;
  width: 500px;
  position: absolute;
  z-index: 900;
  left: 495px;
  font-family: 'Lobster', cursive;
}

#newusericon {
  height: 500px;
  width: 600px;
  position: absolute;
  z-index: 800;
  left: 50px;
  bottom: 10px;
  background-image: url('newuser.png');
}

#submitbutton {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 600;
  left: 65px;
  font-family: 'Lobster', cursive;
}

.btn {
  border: solid 2px black;
}

.field {
  border: solid 2px black;
}

/* For user login page */

#userlogincontainer {
  height: 600px;
  width: 193px;
  position: absolute;
  z-index: 1000;
  left: 300px;
  bottom: -270px;
}

#logintitle {
  height: 100px;
  width: 500px;
  position: absolute;
  z-index: 800;
  left: 550px;
  font-family: 'Lobster', cursive;
}

#loginicon {
  height: 500px;
  width: 500px;
  position: absolute;
  z-index: 900;
  left: 550px;
  bottom: 0px;
  background-image: url('loginkey.png');
  background-size: cover;
}

#submitloginbutton {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 600;
  left: 60px;
  font-family: 'Lobster', cursive;
}
