<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid" id="navcontainer">
      <ul class="nav navbar-nav">
        <li>
          <a href="<%= covers_path %>">
            <button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-home"></span>
            </button>
          </a>
        </li>
        <li>
        <h1 id="navbartitle">&nbsp;&nbsp;&nbsp;Escrow</h1>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" id="dropdownnav">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-align-justify"></span>
            </button>
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Contacts', contacts_path %></li>
            <li><%= link_to 'Messages', sms_messages_path %></li>
            <!-- <li> --><%#= link_to , edit_user_path(current_user.id) %><!-- 
             -->
            <li class="divider"></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </li>
      </ul>
  </div>
</nav>